<h1>Log In</h1>

<% if flash[:error] %>
    <%= flash[:error] %><br><br>
<% end %>

<%= form_tag 'login' do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token =%>
    <%= label_tag :username %>
    <%= text_field_tag :username %><br><br>

    <%= label_tag :password %>
    <%= password_field_tag :password %><br><br>

    <%= submit_tag 'Log In' %>
<% end %>

<br><br>

<%= link_to "Log in with Google", "/auth/google_oauth2", method: :post %>

<%= link_to "Sign Up", new_user_path %>