<!DOCTYPE html>
<html>
  <head>
    <title>KdramaPhotoCards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%
=begin%>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
  </head>

  <body>
    <div class="header">
      <%= link_to image_tag("home-icon.png", id: "home-icon"), root_path %>
      <div class="header-right">
        <%= link_to "Dramas", dramas_path %>
        <%= link_to "Actors", actors_path %>
        <%= link_to "Log Out", logout_path %>
      </div>
    </div>

    <div id="main-content">
      <%= yield %>
    </div>

    <footer id="footer">
      <address>
        Page Author Contact Info
      </address>
    </footer>
  </body>
</html>
